@model ChatbotTry.ViewModels.ChatViewModel

<div class="text-center">
    <div class="view-container">

        <div class="main-circle">
            <div class="returns-texts">
                @if (Model != null)
                {
                    <p class="bot-response">@Model.BotResponse</p>
                    <p>Link: @Model.YoutubeUri</p>
                }
            </div>

            <div class="small-circle-border">
                <div class="small-circle-content"></div>
            </div>
            @* <div class="medium-circle-border">
            <div class="medium-circle-content">
            </div>
            </div> *@
        </div>

        <h1 class="title">Jarvis</h1>

        <input class="input-txt"
               type="text"
               id="user-message-input"
               required
               placeholder="Insira a mensagem ao Jarvis..." />
        <button type="button"
                id="user-message-send-button"
                onclick="sendMessageToJarvis()">
            Enviar
        </button>

        @* <form method="post" action="@Url.Action("Salvar")">
        <input class="input-txt" type="text" name="UserMessage" required
        placeholder="Insira a mensagem ao Jarvis..." />

        <button type="submit">Enviar</button>
        </form> *@
    </div>



    <iframe width="600" height="350"
            src="@(Model != null && Model.YoutubeUri != null ? @Model.YoutubeUri : "http://www.youtube.com/embed/fxCEcPxUbYA")"
            frameborder="0" allowfullscreen></iframe>

</div>

@section Scripts {
    <script type="text/javascript">
        function sendMessageToJarvis() {
            $.ajax({
                type: "POST",
                url: @Url.Action("Salvar"),
            }).done(function (chatViewModel) {
                alert("Response: " + chatViewModel.BotResponse + " YT Uri: " + chatViewModel.YoutubeUri);
            })
        }

    </script>
}